*.elc
*.bak
.*.lock
*~

/ac-comphist.dat
/ido.last
/places
/savehist
/recentf
/server
/url
/chinese-fonts-setup

/custom.el
/elpa
/site-lisp/package/

/auto-save-list
/autosaves
/backups

/.HOME

/.emacs.desktop
